:root {
  --color1: #f5efe6;
  --color2: #e8dfca;
  --color3: #aebdca;
  --color4: #7895b2;
}

.App {
  text-align: center;
}

body {
  background-color: var(--color1);
}

.todolist {
  text-align: left;
  margin: 10px;
  list-style-type: none;
  padding: 10px;
}

.header {
  background-color: var(--color4);
  color: var(--color1);
  margin: 0;
  padding: 20px;
  /* border-bottom: 1px solid black; */
}

.header-title {
  text-shadow: black 2px 2px 5px;
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
}

.search-todo {
  background-color: var(--color2);
  padding: 10px;
  /* border: 1px solid black; */
  border-top: none;
  border-left: none;
  flex-basis: 50%;
}

.add-todo {
  background-color: var(--color3);
  padding: 10px;
  /* border: 1px solid black; */
  border-top: none;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.add-todo button {
  align-self: center;
}

.add-todo input:first-of-type {
  align-self: flex-start;
}

.add-todo input:last-of-type {
  height: 50px;
}

.todolist-title {
  text-align: left;
  margin-left: 30px;
}

.message-section {
  height: 1em;
}

.delete-todo {
  margin: 5px;
}

.todo:nth-child(even) {
  background-color: #fff;
}

.todo:nth-child(odd) {
  background-color: #eee;
}

.todo {
  padding: 10px;
}

.todo-title {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
